{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ClinicCortex</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <style>
        body {
            font-family: Inter, sans-serif;
        }

        .btn-glow:hover {
            background: linear-gradient(90deg, #10b981, #084430);
            background-color: rgb(6 95 70 / 0.4);
            box-shadow: 0 0 45px rgba(16, 185, 129, 0.55);
            transform: translateY(-2px);
        }

        .active-link {
            background: linear-gradient(90deg, #10b981, #09835a, #0d684a);
            box-shadow: 0 0 45px rgba(16, 185, 129, 0.35);
        }
    </style>
</head>

<body class="min-h-screen text-neutral-100">

    <div class="relative min-h-screen">

        <!-- BACKGROUND GLOBAL -->
        <div class="absolute inset-0 bg-gradient-to-br from-[#0c1f1b] via-black to-black"></div>
        <div class="absolute top-0 left-0 w-[600px] h-[600px] bg-emerald-500/20 blur-[150px] rounded-full"></div>

        <div class="relative z-10 flex">

            {% if user.is_authenticated %}
            <!-- SIDEBAR -->
            <aside
                class="w-72 min-h-screen bg-black/40 backdrop-blur-2xl border-r border-white/5 p-8 flex flex-col justify-between">

                <div>
                    <img src="{% static 'images/logo.png' %}" alt="ClinicCortex Logo" class="h-18 mb-12">

                    <nav class="flex flex-col gap-4">

                        <a href="{% url 'appointment_list' %}" class="px-4 py-3 rounded-lg transition btn-glow
   {% if request.path|slice:':13' == '/appointments' %} active-link {% endif %}">
                            Agendamentos
                        </a>

                        <a href="{% url 'patient_list' %}" class="px-4 py-3 rounded-lg transition btn-glow
   {% if request.path|slice:':9' == '/patients' %} active-link {% endif %}">
                            Pacientes
                        </a>


                        <a href="#" class="px-4 py-3 rounded-lg transition btn-glow
   {% if request.path|slice:':13' == '/configurations' %} active-link {% endif %}">
                            Configurações
                        </a>

                    </nav>
                </div>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="w-full text-left px-4 py-3 rounded-lg hover:bg-red-500/20 text-red-400 transition">
                        Logout
                    </button>
                </form>

            </aside>
            {% endif %}

            <!-- MAIN -->
            <main class="flex-1 p-12">
                {% block content %}
                {% endblock %}
            </main>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block extra_js %}{% endblock %}

</body>


</html>