{
	email {$ACME_EMAIL}
	admin off
}

{$WA_PUBLIC_HOSTNAME} {
	encode zstd gzip

	log {
		output stdout
		format json
	}

	@proxyHealth path /health/proxy
	respond @proxyHealth "ok" 200

	@teamHealth path /health/team
	handle @teamHealth {
		uri replace /health/team /health
		reverse_proxy team-service:3002
	}

	@health path /health
	reverse_proxy @health team-service:3002

	@team path /team/*
	reverse_proxy @team team-service:3002

	@whatsapp path /whatsapp/*
	reverse_proxy @whatsapp team-service:3002

	respond 404
}
