{
	email {$ACME_EMAIL}
}

{$WA_PUBLIC_HOSTNAME} {
	encode zstd gzip

	log {
		output stdout
		format console
	}

	@connector path /health /whatsapp/* /team/*
	reverse_proxy @connector whatsapp-connector:3001

	respond 404
}
